<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.restphone.SodaPermits">
	<uses-sdk android:minSdkVersion="21" />
	<application android:allowBackup="true" android:icon="@mipmap/icon" android:label="@string/app_name">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAN_4zJ8g3WR2p8cqw8Z7yJIVQCOgW5Eo0" />
	</application>
</manifest>