source https://www.nuget.org/api/v2

nuget CSM.SodaDotNet
nuget FSharp.Core 4.0.0.1
nuget FSharp.Data
nuget FsUnit
nuget NUnit
nuget Rx-Linq
nuget Xamarin.Android.Support.v7.AppCompat
nuget Xamarin.Android.Support.v7.RecyclerView
nuget Xamarin.UITest